.page-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: 300px;
    position: relative;
}

.page-header-text-container {
    color: var(--text-primary-color);
    text-align: center;
    margin-top: 50px;
}

.page-header-heading {
}

.page-header-menu-nav {
    font-weight: bold;
    margin-top: 20px;
}

.page-header-menu-nav-group {
    color: var(--text-secondary-color);
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.page-header-menu-nav-group:hover {
    color: var(--text-primary-Colorectal);
}

.page-header-menu-nav-group-link {
    color: var(--text-secondary-color);
}

.page-header-menu-nav-group-link:hover {
    color: var(--text-primary-color);
}

.page-header-menu-nav-current {
    margin-left: 10px;
}

@media (min-width: 1024px) {
    .page-header-container {
        height: 400px;
    }

    .page-header-heading {
        font-size: 60px;
    }

    .page-header-menu-nav {
        font-size: 20px;
    }
}
