#section-main-app-intro {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 60px 16px 20px;
}

.main-app-intro-heading {
    color: var(--text-primary-color);
    font-size: 30px;
}

.main-app-intro-heading span {
    color: var(--text-secondary-color);
}

.main-app-intro-text {
    color: var(--text-primary-color);
    font-size: 16px;
    padding: 10px 30px;
    line-height: 24px;
}

.main-app-intro-list-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-app-intro-list {
}

.main-app-intro-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.main-app-intro-list-item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid var(--text-primary-color);
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--text-default-color);
    font-weight: bold;
    font-size: 0.9em;
}

.main-app-intro-list-item-title {
    color: var(--text-primary-color);
    margin-left: 20px;
}

.main-app-intro-store-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-app-intro-store-container a {
    margin: 0 4px;
    background-color: white;
    border-radius: 10px;
}

.main-app-intro-store-container a img {
    height: 100%;
}

@media (min-width: 1024px) {
    .section-main-app-intro-container {
        /* width: 70%; */
        margin: 0 auto;
        padding: 70px 0 120px;
    }

    .main-app-intro-heading {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .main-app-intro-heading span {
        color: var(--text-secondary-color);
    }

    .main-app-intro-heading2 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .main-app-intro-heading2 span {
        color: var(--text-primary-color);
    }

    .main-app-intro-text {
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
        padding: 30px;
    }

    .main-app-intro-list {
    }

    .main-app-intro-list-item {
        margin-bottom: 26px;
    }

    .main-app-intro-list-item-number {
        width: 80px;
        height: 80px;
        font-size: 1.1em;
    }

    .main-app-intro-list-item-title {
        margin-left: 30px;
        font-size: 1.2em;
    }

    .main-app-intro-store-container {
        margin-top: 40px;
    }

    .main-app-intro-store-container a {
        margin: 0 10px;
        background-color: white;
        border-radius: 10px;
    }

    .main-app-intro-store-container a img {
        height: 100%;
    }
}
