html {
    scroll-behavior: smooth;
  }

.main-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--bg-main-nav);
    z-index: 100;
    padding: 20px 0;
    transition: 0.4s;
}

.main-nav.open {
    right: 0;
}

.main-nav-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

.main-nav-logo {
}

.main-nav-logo-link {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
}

.main-nav-logo-image {
    width: 40px;
    height: 40px;
    image-rendering: auto;
}

.main-nav-logo-title {
    margin-left: 10px;
    font-size: 30px;
    color: var(--text-default-color);
}

.main-nav-header-close-btn img {
    width: 20px;
    height: 20px;
}

.main-nav-menu-list {
    margin: 40px 0;
}

.main-nav-menu-list-item {
    font-size: 22px;
    font-weight: bold;
}

.main-nav-menu-list-item a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-default-color);
    padding: 8px 40px;
}

.subnav {
    float: left;
    overflow: hidden;
    
  }
  
.subnav .subnavbtn {
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 7px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    /* display: none; */
}

.subnav-content {
display: block;
position: absolute;
width: 100%;
z-index: 1;
}

.subnav-content a {
color: var(--text-default-color);
text-decoration: none;
}

.subnav-content a {
    background-color: white;
    color: var(--text-default-color);
    }
    
.subnav:hover .subnav-content {
    display: block;
    } 

@media (min-width: 1024px) {
    .main-nav {
        width: auto;
        height: auto;
        position: static;
        background-color: transparent;
    }

    .main-nav-header {
        display: none;
    }

    .main-nav-menu-list {
        display: flex;
    }

    .main-nav-menu-list-item:hover a {
        color: var(--text-secondary-color);
    }

    .main-nav-menu-list-item a {
        color: var(--text-primary-color);
    }

    .subnav {
        float: left;
        overflow: hidden;
        
      }
      
    .subnav .subnavbtn {
        font-size: 22px;  
        border: none;
        outline: none;
        color: white;
        padding: 7px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        /* display: none; */
    }
    
    .subnav-content {
    display: none;
    position: absolute;
    width: 18%;
    z-index: 1;
    }
    
    .subnav-content a {
    color: white;
    text-decoration: none;
    }
    
    .subnav-content a:active {
    background-color: #eee;
    color: black;
    }
    
    .subnav:hover .subnav-content {
    display: block;
    } 
}
