.article-list {
    margin-top: 80px;
}

.article-list-item {
    margin-bottom: 30px;
    text-align: center;
}

.article-list-item-heading {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
}

.article-list-item-heading {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
}

.article-list-item-text {
    font-size: 18px;
    padding: 30px 30px;
    line-height: 26px;
}
.owner-img{
    /* padding-top: 2em; */
    border-radius: 50%;
    height: 200px;
    width: 200px;

}
.article-list-item-text2 {
    color: white;
    font-size: 18px;
    padding: 30px 30px;
    line-height: 30px;
    padding: 1.5em 2em 0 2em;
}
.faq-container {
    margin: 60px 0;
}

.faq-group-heading {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}

@media (min-width: 1024px) {
    .article-list {
        margin-top: 120px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .article-list-item-heading {
        font-size: 30px;
        padding: 20px 20px;
    }

    .article-list-item-text {
        font-size: 18px;
        padding: 30px 30px;
        line-height: 30px;
    }
    .article-list-item-text2 {
        color: white;
        font-size: 18px;
        padding: 30px 30px;
        line-height: 30px;
        padding: 1.5em 7em 0 7em;
    }
    .owner-img{
        border-radius: 50%;
        height: 200px;
        width: 200px;

    }
    .section-faq {
        display: flex;
        margin: 100px 60px;
        justify-content: center;
        
    }

    .faq-container {
        width: 30%;
        margin: 0;
    }

    .contact-bg{
        background-color: #ede268;
    }

    .contact-heading{
        text-align: center;
        color: black;
    }
    .main-app-intro-heading2{
        color: black;
    }
}
